.contain{
	position: absolute;
	left: 10px;
	top: 80px;
	width: 95%;
	height: 88%;
	overflow: auto;
	margin: 5px auto;
}

#picture{
	top: 3%;
	left: 10px;
	width: 55%;
 	height: 65%;
 	margin: 20px auto;
 	position: absolute;
 	border: 10px solid white;
 	box-shadow: 0px 0px 5px 2px #ccc;
 	float: left;
}

.buttons{
	position: absolute;
	height: 10%;
	width: 100%;
	top: 42%;
}

img{
	position: absolute;
	width: 100%;
	height: 100%;
}

span{
	position: absolute;
	padding: 3%;
	border: none;
	background: #37f;
 	font-size: 3vmin;
 	color: white;
	cursor: pointer;
	outline: none;
}

.button {
	background-color: #990000;
	color: white;
	padding: 1% 2%;
	font-size: 2.5vmin;
	font-weight: bold;
	border-radius: 5px;
	border: none;
}

#submit {
	background-color: #990000;
	color: white;
	padding: 1% 2%;
	font-size: 2.5vmin;
	font-weight: bold;
	border-radius: 5px;
	border: none;
}

.next{
	position: absolute;
	border-radius: 10px 0px 0px 10px;
	font-size:4vmin;
  	right: 0%;
  	background-color: #990000;
  	color: white;
}
.prew{
	position: absolute;
	border-radius: 0px 10px 10px 0px;
	font-size:4vmin;
  	left: 0%;
  	background-color: #990000;
  	color: white;
}

.info{
	position: absolute;
	height: 60%;
	width: 30%;
	right: 0%;
	top: 7%;
	color: white;
	float: right;
	display: block;
	font-size: 1.7vmin;
}

h1{
	margin-top: 70px;
	margin-left: 20%;
	color: white;
}

.menu-btn{
	position: absolute;
	margin-top: 1%;
	border: none;
	background-color: #990000;
	color: white;
	font-size: 1.7vmin;
	font-weight: bold;
	padding: 3% 8%;
	border-radius: 5px;
	cursor: pointer;
}

.menu-btn:hover, .menu-btn:visited, .menu-btn:active, .menu-btn:link{ 
	color: white;
	text-decoration: none;
}
